/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1b2025;
  color: white;
  display: flex;
  justify-content: space-between; /* Posisi default, di desktop navbar tetap di kiri dan kanan */
  align-items: center;
  padding: 10px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  box-sizing: border-box; /* Pastikan padding dihitung dalam ukuran elemen */
}

.navbar-title {
  font-size: 1.5em;
  cursor: pointer;
  font-weight: bold;
  margin-right: auto; /* Memungkinkan menu untuk berada di sebelah kanan pada desktop */
}

.mobile-menu-toggle {
  display: none; /* Menyembunyikan hamburger menu di desktop */
  font-size: 1.5em;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

/* Navbar Links */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
}

.navbar-links a:hover,
.navbar-links a.active {
  background-color: #d9cded;
  border-radius: 5px;
  color: white;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .mobile-menu-toggle {
    display: block; /* Menampilkan hamburger menu di mobile */
    margin-left: 0; /* Menghilangkan margin di mobile */
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust based on your navbar height */
    left: 0; /* Memindahkan menu ke kiri di mobile */
    background-color: #2c3e50;
    padding: 15px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .navbar-links.open {
    display: flex; /* Menampilkan menu jika hamburger di klik */
  }

  .navbar-links li {
    margin: 10px 0;
  }

  .navbar-title {
    order: 1; /* Memindahkan Gregorius C ke kanan pada mobile */
    margin-right: 0;
  }

  .mobile-menu-toggle {
    order: 2; /* Menempatkan hamburger menu di kiri pada mobile */
    margin-left: 10px;
  }
}
